<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>products</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="row">
    <div class="card" *ngFor="let product of products">

      <img src="https://woodworks-api.herokuapp.com{{ product.images[0].url}}" width="50%" />
      <br>
      <strong>{{ product.name}}</strong>
      <p>{{ product.price }} Php.
      </p>
    </div>

  </div>

</ion-content>